*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding: 2rem;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.container-logo {
    background-color: #0e508b;
    color: white;
    width: 12rem;
    text-align: center;
    cursor: default;
}

.container-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    color: #0e508b;
}

.nav-item:not(:last-child) {
    margin-right: 2rem;
}

.container-form {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 36rem;
    height: 36rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#formQuestion {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}

#formOptions {
    width: 16rem;
    display: flex;
    flex-direction: column;
}

.form-options {
    transform: translateY(-2rem);
    height: 100%;
    align-items: center;
    justify-content: center;
}

#formOptions.form-options-long {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
    transform: translateY(-6rem);
}

#formOptions > .option {
    border: 2px solid #0e508b;
    color: #0e508b;
    background-color: inherit;
    width: 90%;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: .25rem;
}

#formOptions.form-options > .option:not(:last-child) {
    margin-bottom: .5rem;
}

#formOptions > .option:hover {
    background-color: #bed7ed;
    cursor: pointer;
}

#formOptions > .option-long {
    border: 2px solid #0e508b;
    color: #0e508b;
    background-color: inherit;
    /*padding: 1rem 2rem;*/
    padding: 1rem 0;
    text-align: center;
    font-size: .6rem;
    border-radius: .25rem;
}

#formOptions > .option-long:hover {
    background-color: #bed7ed;
}

.option-long-text {
    width: 100%;
    font-size: 1.4em;
    margin-bottom: .2rem;
}

.option-long-subtext {
    font-size: 1em;
}

.button-nav {
    border: none;
    background-color: #0e508b;
    padding: .5rem 1rem;
    border-radius: .25rem;
    color: white;
}

.button-nav:hover {
    background-color: #347dbf;
}

#backBtn {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
}

#nextBtn {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

#progressBar {
    transition: width ease-in-out .25s;
}

.completion-bar-top {
    background-color: #0e508b;
    height: .5rem;
    width: 0%;
    position: absolute;
    left: 0;
    z-index: 10;
}

.completion-bar-bot {
    background-color: #bed7ed;
    height: .5rem;
    width: 100%;
    position: absolute;
}

.container-presentation {
    height: 60vh;
    display: none;
    justify-content: center;
    align-items: center;
}

/* wip */
.presentation {
    padding-bottom: 8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 90%;
}

.presentation > h1 {
    text-align: left;
    border-bottom: 2px solid black;
}

.presentation > * {
    width: 100%;
    text-align: center;
}

.proposed-rates {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.proposed-rate {
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.proposed-rate > h4 {
    width: 100%;
    background-color: #0e508b;
    color: white;
    margin: 0;
    padding: .5rem;
}

.rate-details-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate-details {
    height: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.rate-detail {
    background-color: lime;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate-detail > h6 {
    width: 70%;
    height: 2rem;
}


.rates {
    margin-top: 4rem;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rates > h4 {
    margin: 0;
    padding: 1rem;
    background-color: #0e508b;
    color: white;
}

.rates > table {
    min-height: 10rem;
    width: 100%;
    border-spacing: 1rem;
}

.rates > table a {
    color: #0e508b;
    border-radius: .25rem;
    padding: .25rem .75rem;
    transition: background-color .25s ease-in-out;
}

.rates > table a:hover {
    color: white;
    background-color: #0e508b;
}

.editor-button-wrapper {
    color: lime;
    text-align: center;
    padding: 1rem;
}

.editor-button {
    padding: 1rem 2rem;
    border: 2px solid #0e508b;
    color: #0e508b;
    background-color: inherit;
    border-radius: .25rem;
}

.editor-button:hover {
    background-color: #bed7ed;
}

.editor-button:active {
    background-color: #0e508b;
    color: white;
}

/* wip */

#editor {
    display: none;
    background-color: white;
    width: 24rem;
    position: fixed;
    height: 90vh;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exitEditBtn {
    padding: .5rem 1rem;
    border: 2px solid #0e508b;
    color: #0e508b;
    background-color: inherit;
    border-radius: .25rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#exitEditBtn:hover {
    background-color: #bed7ed;
}

#exitEditBtn:active {
    background-color: #0e508b;
    color: white;
}

.editor-head > h2 {
    text-align: center;
}

.input-wrapper {
    border: 2px solid black;
    border-radius: .25rem;
    padding: 1rem .5rem;
    cursor: text;
}

.input-wrapper:focus-within {
    border: 2px solid #0e508b;
}

.input {
    border: none;
    margin-left: .5rem;
}

.input:focus {
    outline-width: 0;
}

.purchase-input {
    border: 2px solid #0e508b;
    border-radius: .25rem;
    padding: .5rem;
}

.purchase-input:not(:last-child) {
    margin-bottom: .5rem;
}

/* Checkbox styling */

#formOptions > [type=checkbox] {
    display: inline-block;
}

#formOptions > input[type=checkbox]:not(:last-child) {
    margin-bottom: .5rem;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(-2rem);
}

.checkbox-wrapper {
    margin-bottom: .5rem;
}

.checkbox {
    display: none;
    pointer-events: none;
}

.checkbox + label {
    cursor: pointer;
    display: grid;
    grid-template-columns: 3fr auto;
}

.checkbox + label > span {
    width: 100%;
    text-align: right;
    margin-right: px;
}

.checkbox + label:hover .checkbox-display {
    background-color: #bed7ed;
}

.checkbox + label .checkbox-display {
    width: 1.2rem;
    height: 1.2rem;
    transform: translate(10px, 2px);
    border-radius: 3px;
    border: 2px solid #333333;
    background-color: inherit;
}

.checkbox:checked + label .checkbox-display {
    background-color: #0e508b;
    border-color: #0e508b;
}

.checkbox:disabled + label .checkbox-display {
    opacity: .5;
}

.checkbox:disabled + label:hover .checkbox-display {
    background-color: inherit;
}

.checkbox:disabled + label:hover {
    cursor: default;
}

.checkbox:checked + label > .checkbox-display::before {
    content: '';
    position: absolute;
    top: .375em;
    left: .1em;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 100ms 25ms cubic-bezier(.4,.0,.23,1) forwards;  
}

@keyframes checkbox-check{
    0% {
      width: 0;
      height: 0;
      border-color: white;
      transform: translate3d(0,0,0) rotate(45deg);
    }
    33% {
      width: .4em;
      height: 0;
      transform: translate3d(0,0,0) rotate(45deg);
    }
    100% {    
      width: .4em;
      height: .6em;    
      border-color: white;
      transform: translate3d(0,-.5em,0) rotate(45deg);
    }
}

.payment-wrapper {
    transform: translateY(-4rem);
    text-align: center;
    position: relative;
}

.payment-wrapper > span {
    display: inline-block;
    transform: translate(-5px, 2px);
}

.selected {
    background-color: #0e508b !important;
    color: white !important;
}

.selected .icon {
    filter: invert(1);
}

.icon {
    max-width: 2rem;
    filter: invert(23%) sepia(64%) saturate(1404%) hue-rotate(182deg) brightness(95%) contrast(96%);
}

#remainingMortgageWarning {
    transform: translateY(5rem);
    text-align: center;
}

#textfieldWarning {
    transform: translateY(4rem);
}

.warning {
    font-size: .8rem;
    position: absolute;
    color: tomato;
}
